In [2]:
import pandas as pd
pd.read_csv("pima-indians-diabetes.data.csv")

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [3]:
columns_names =["NumTimesPrg","PlGlcConc","BloodP","SkinThick","TwoHourSerIns","BMI","DiPedFunc","age","HasDiabetes"]
data=pd.read_csv("pima-indians-diabetes.data.csv",names=columns_names)
data.head(10)

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

# data cleaning

In [4]:
#1 . Filter the values of the 'SkinThick' attribute to determine non-zero values.
skinthick_non_null = data[data['SkinThick'] != 0]
print(skinthick_non_null.head())

   NumTimesPrg  PlGlcConc  BloodP  SkinThick  TwoHourSerIns   BMI  DiPedFunc  \
0            6        148      72         35              0  33.6      0.627
1            1         85      66         29              0  26.6      0.351
3            1         89      66         23             94  28.1      0.167
4            0        137      40         35            168  43.1      2.288
6            3         78      50         32             88  31.0      0.248

   age  HasDiabetes
0   50            1
1   31            0
3   21            0
4   33            1
6   26            1

In [5]:
# 2. Calculate the median of these values
skinthik_median=data[data['SkinThick']!=0]['SkinThick'].median()
print("the median is: ",skinthik_median)

the median is:  29.0

In [6]:
#3. Replace zero values of the "SkinThick" attribute with the median.
data['SkinThick']=data['SkinThick'].replace(0,skinthik_median)
data.head(10)

,NumTimesPrg,PlGlcConc,BloodP,SkinThick,TwoHourSerIns,BMI,DiPedFunc,age,HasDiabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,29,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,29,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,29,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,29,0,0.0,0.232,54,1

In [ ]:
# 4. Why can't we do the same thing with the "NumTimesPrg" attribute?
In the case of the "NumTimesPrg" attribute (number of pregnancies), a zero could have a valid meaning, because a woman may not have had any pregnancies yet. In this case, replacing the zeros with the median might not be appropriate, as it might introduce incorrect information.

# Data Rescaling

In [9]:
from sklearn.preprocessing import MinMaxScaler 
scaler = MinMaxScaler()

In [10]:
#Use the "scaler.fit_transform(...)" function to bring back the values of the attributes in an interval [0-1].
array=data.values
x=array[:,0:7]
data_scaled = scaler.fit_transform(x)
print(data_scaled)

[[0.35294118 0.74371859 0.59016393 ... 0.         0.50074516 0.23441503]
 [0.05882353 0.42713568 0.54098361 ... 0.         0.39642325 0.11656704]
 [0.47058824 0.91959799 0.52459016 ... 0.         0.34724292 0.25362938]
 ...
 [0.29411765 0.6080402  0.59016393 ... 0.13238771 0.390462   0.07130658]
 [0.05882353 0.63316583 0.49180328 ... 0.         0.4485842  0.11571307]
 [0.05882353 0.46733668 0.57377049 ... 0.         0.45305514 0.10119556]]

# Data standardization

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_standardized = scaler.fit_transform(data)
print(data_standardized)

[[ 0.63994726  0.84832379  0.14964075 ...  0.46849198  1.4259954
   1.36589591]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.36506078 -0.19067191
  -0.73212021]
 [ 1.23388019  1.94372388 -0.26394125 ...  0.60439732 -0.10558415
   1.36589591]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.68519336 -0.27575966
  -0.73212021]
 [-0.84488505  0.1597866  -0.47073225 ... -0.37110101  1.17073215
   1.36589591]
 [-0.84488505 -0.8730192   0.04624525 ... -0.47378505 -0.87137393
  -0.73212021]]